REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_DB=0

# Optional
# The model to use. If not set, the default model will be used.
MODEL=llama3.2:1b

# The provider to use. If not set, the OpenAI provider will be used.
PROVIDER=ollama

PROVIDER_BASE_URL=localhost:8009/v1
# Optional, only of the provider is 'openai'
PROVIDER_API_KEY=sk-your-secret-key

# El numero maximo de caracteres que se pasa al modelo como contexto para el análisis
CONTEXT_WINDOW_SIZE=30000

# Esto solamente es necesario en Windows, debe corresponder con el path del ejecutable de Tesseract OCR
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

# The port to run the server on. If not set, the default port will be used
PORT=8005

# prod or dev 
ENVIRONMENT=prod

# The allowed origins for CORS. If not set, the default origins * will be used.
ALLOWED_ORIGINS="http://localhost:5173,localhost:8004"


# The endpoint to validate hte OAuth token 
TOKEN_VALIDATION_URL=https://declaraciones.pjedomex.gob.mx/declaraciones/token

# Comma separated list of allowed IPs to validate
ALLOWED_IPS="179.49.xy.172"

WARNING_TEXT="Este sistema es solo una herramienta de apoyo y no sustituye el asesoramiento legal profesional. La información proporcionada por el sistema no debe considerarse como un consejo legal y no se garantiza su precisión o exhaustividad. Se recomienda consultar a un abogado calificado para obtener asesoramiento legal específico y adaptado a su situación particular."



# Where is the ChromaDB instance located?
CHROMA_HOST=localhost
CHROMA_PORT=8004

