node_modules
venv
client/node_modules

__pycache__

.env
uploads

media/vector_store
messages.json

media

s1.pdf
s2.pdf
s3.pdf

requests_log.csv
tasks_log.csv
error.log

s1.md

faq_results.txt


logs/*

pgdata

Mindocs.pem